*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    line-height: 1.4em;
   
}
body{
    background-color: #FEF9FA;
}
.cabecera{
    background-color: #FBD4DC;
    &Texto{
        color: #333;
    }
}

