.h1{
    color: #FBD4DC;
    font-family: 'Lobster', cursive;
}
.muestraIndexH1{
    color: #FBD4DC;
    font-family: 'Lobster', cursive;
    text-align: center; 
    margin-top: 30px;
    font-size: 40px;
}
.botonComprar5{
    background-color: #F8B7C4;
    color: #000000;
    border:none;
    height: 35px;
    width: 80px;
    border-radius: 10%;
    transition: height 2s;
}
.muestra{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    margin-bottom: 30px;
}
.muestraImg{
    text-align: center; 
}
@mixin sizes ($width, $height){
    height:$height;
    width: $width;
}
.muestraMultimedia{
    @include sizes(150px,200px)
}
.muestraMultimedia:hover{
    transform: scale(1.1, 1.1);
    transition: 2s;
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%); 
}
.descripcion{
    text-align: center;
}
.botonComprar:hover{
   background-color: #F8B7C4;
   height: 41px;
   list-style: none;
}
.botonComprarEstilo{
   text-decoration: none;
   color: black;    
}


